# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Coverage by nyc/c8
.nyc_output
coverage

# Generate output
dist

# Coverage

# IDE
.vscode
